header{
    max-width: 1440px;
    height: 576px;
    background: #F0FFF0;
    margin-bottom: 100px;

}

.logo{
    width: 200px;
    height: 60px;
}

.nav-item{
    font-weight: 400;
    color: black;
}


.sign-btn{
    background: #21B573;
    padding: 5px 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sign-btn-a{
    color: white !important;
}

.container{
    margin-bottom: 100px;
}

.learn{
    color: #FD511A;
}

.title{
    font-weight: 700;
}

.title span{
    color: #21B573;
}

.illustration{
    width: 555px;
    height: 345px;
}

.title-lorem{
    color: gray;
}

.get-started{
    border: none;
    padding: 5px 10px;
}

.crd-top{
    width: 65px;
    height: 85px;
    margin: 5px;
}

.main-bg{
    background: #F0FFF0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.card-shadow{
    box-shadow: 10px 10px 10px lightgray;
    border: none;
}

.course-title{
    text-align: center;
    font-weight: 700;
}

.course-card-image{
    width: 330px;
    height: 235px;
    margin: 5px;
}

.left-align-text{
    text-align: left;
}

.course-card-body{
    display: flex;
}

.calender-icon{
    width: 18px;
    height: 20px;
}

.display-inline-block{
    display: inline-block;
}

.card-footer{
    width: 100%;
}

.client{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.margin{
    margin: 50px 150px;
}

.footer{
    height: 370px;
    max-width: 1440px;
    background-color: #282531;
}

.color-white{
    color: rgb(184, 184, 184);
}

.footer-row{
    margin-top: 55px;
}

.line{
    line-height: 2px;
}

.col-md-2{
    width: 200px;
}

.copywrite{
    text-align: center;
}
